.layout-table {
    border-spacing: 0;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 8.5vw;
    font-size: 1.5vw;
}

.layout-slot {
    width: 9vw;
    height: 9vw;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

.layout-image {
    image-rendering: pixelated;
    width: 8vw;
    height: 8vw;
    position: relative;
    display: block;
    left: 0.5vw;
}

.layout-decoration-slot {
    background-color: rgba(170,140,160,0.8);
}

.layout-empty-slot {
    background-color: rgba(100,100,100,0.8);
}

.layout-fuel-indicator-slot {
    background-color: rgba(250,200,100,0.8);
}

.layout-fuel-slot {
    background-color: rgba(250,150,50,0.8);
}

.layout-input-slot {
    background-color: rgba(150,150,255,0.8);
}

.layout-manual-output-slot {
    background-color: rgba(200,100,100,0.8);
}

.layout-output-slot {
    background-color: rgba(250,100,100,0.8);
}

.layout-progress-indicator-slot {
    background-color: rgba(150,250,150,0.8);
}

.layout-storage-slot {
    background-color: rgba(200,200,200,0.8);
}

.layout-action-slot {
    background-color: rgba(255,0,0,0.8);
}

.layout-link-slot {
    background-color: rgba(200,0,200,0.8);
}
